# docker-compose.yml
name: fundo-loan

networks:
  app-net: {}

volumes:
  mssql-data:

services:
  fundo.mssql:
    container_name: fundo-mssql
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "P@ssw0rd_ChangeMe_123!"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql
    networks:
      app-net:
        aliases: [sqlserver]
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/1433'"]
      interval: 10s
      timeout: 5s
      retries: 60
      start_period: 60s
    restart: unless-stopped

  fundo.api:
    container_name: fundo-api
    image: fundo-loan-api:dev
    build:
      context: .
      dockerfile: Fundo.Loan.Api/Dockerfile
      args:
        BUILD_CONFIGURATION: Debug
    depends_on:
      fundo.mssql:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__Default: "Server=sqlserver,1433;Database=FundoLoan;User ID=sa;Password=P@ssw0rd_ChangeMe_123!;TrustServerCertificate=true;Encrypt=false"
    ports:
      - "8080:8080"
    networks: [app-net]
    restart: unless-stopped
